 <div class="layui-header">
    <div class="layui-logo">赏金任务后台管理</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
         欢迎您：<%- user.username %>
        </a>
        <%# <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl> %>
      </li>
      <li class="layui-nav-item"><a href="/">返回首页</a></li>
    </ul>
  </div>