<% include header.ejs %>
<body>
<div class ='layui-main' style='margin-top:200px'>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
      <legend>欢迎您登录</legend>
    </fieldset>
   <form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">提交登录</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      <button type="button" class="layui-btn" id='btn'>返回主页</button>
    </div>
  </div>
</form>
 </div>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  var $ = layui.$;
  //监听提交
  btn.onclick = ()=>{
    location.href = '/'
  }
  form.on('submit(formDemo)', function(data){
    $.ajax({
        url:'/login',
        method:'post',
        data:{
            username:data.field.username,
            password:data.field.password
        },
       success:(data)=>{
          layer.alert(data.msg,()=>{
            if(data.code === 0){
              location.href = '/'
            }else{
               location.href = '/reg'
            }
          })
        }
    })
   return false;
  });
});
</script>
</body>
</html>